  <div class="row">
    <h2>Add Stocks</h2>
    <div class="col-md-12">
      <form (submit)="doSearch()" role="form" class="form-inline">
        <div class="form-group">
           
          <label for="exampleInputEmail1">
            Symbol
          </label>
          <input type="test" class="form-control" [(ngModel)]="symbol" id="exampleInputEmail1" />
        </div>
        <div class="form-group">
           
          <label for="exampleInputPassword1">
            # Owned
          </label>
          <input type="number" [(ngModel)]="quantity" class="form-control" id="exampleInputPassword1" />
        </div>
        <button type="submit" class="btn btn-default">
          Submit
        </button>
      </form>
    </div>
  </div>
